
.complete_dish {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: unset;
    background-color: rgba(139, 233, 144, 0.719);
    border-radius: 5px;
    font-size: 16px;
}
.complete_dish:hover {
    background-color: rgb(28, 223, 38);
}

ion-icon.twak {
    font-size: 20px;
    margin-right: 10px;
}
.kkkei {
    margin-left: 10px;
}
.kkkei {
    margin-left: 10px;

}
a:hover {
    text-decoration: none;
    color: black;
}

.thaotac {
    display: flex;
    align-items: center;
}